<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Timos Game</title>
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
    <body ng-app="myApp">
	<form>
    <div class="main" ng-controller="MainController">
      <div class="container">

        <h1>{{ title }}</h1>
			<div class="skill" ng-repeat="x in Character">
				<a href="{{x.raceName}}-Backstory.html">
					<img src="img/{{x.raceName}}.jpg" alt="{{x.raceName}}" width="300" height="200">
				</a><br />
		
				<div class="desc"><h4>{{x.raceName}}, {{x.gender}}, {{x.age}}</h4>
			
					<button class="accordion" ng-click="x.skills.strength.show=!x.skills.strength.show">
				    	Strength:           {{x.skills.strength.value()}} 
					</button>
					<div class="panel" ng-show="x.skills.strength.show">
						- Power:            {{x.skills.strength.power}} <br>
						- Combat Technique: {{x.skills.strength.combat_technique}}
					</div>
			
					<button class="accordion" ng-click="x.skills.intelligence.show=!x.skills.intelligence.show">
				    	Intelligence:       {{x.skills.intelligence.value()}} 
					</button>
				  	<div class="panel" ng-show="x.skills.intelligence.show">
						- Foreign Languages: {{x.skills.intelligence.foreign_languages}} <br />
						- Magical Sense:    {{x.skills.intelligence.magic_sense}} 
					</div>
			
					<button class="accordion" ng-click="x.skills.dexterity.show=!x.skills.dexterity.show">
				    	Dexterity:          {{x.skills.dexterity.value()}} 
					</button>
					<div class="panel" ng-show="x.skills.dexterity.show">
						- Agility:          {{x.skills.dexterity.agility}} <br />
						- Refelxes:         {{x.skills.dexterity.reflexes}} 
					</div>

					<button class="accordion" ng-click="x.skills.stamina.show=!x.skills.stamina.show">
				    	Stamina:            {{x.skills.stamina.value()}} 
					</button>
					<div class="panel" ng-show="x.skills.stamina.show">
				    	- Tenacity:         {{x.skills.stamina.tenacity}} <br />
				    	- Less Food needed: {{x.skills.stamina.less_food_needed}} 
					</div>
					<button class="accordion" ng-click="x.skills.perception.show=!x.skills.perception.show">
				    	Perception:         {{x.skills.perception.value()}} 
					</button>
					<div class="panel" ng-show="x.skills.perception.show">
				    	- Observtion:       {{x.skills.perception.observation}} <br />
				    	- Hearing:          {{x.skills.perception.hearing}} 
					</div>
				    <button class="accordion">
						Luck:               {{x.skills.luck.value}}
					</button>
			<a href={{x.raceName}}-Backstory.html class="button2">Choose Character</a>

				</div>
			</div>
  
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="mainController.js"></script>
	</form>
    </body>
</html>
